---
import Layout from '~/layouts/Layout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `Error 404`;
---

<Layout metadata={{ title }}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Exceptional State:</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">Our sincere apologies.</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          It appears you are trying to intercept content that has been deliberately relocated or terminated, or worst, perhaps this content never existed at all.
        </p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          We recommend you investigate the options available in the navigational contraption situated at the apex of this page, or perhaps you can 
          <a rel="noopener noreferrer" href={getHomePermalink()} class="font-bold">examine the Primary Index</a>
        </p>
      </div>
    </div>
  </section>
</Layout>
