---

// Config
import { APP_BLOG } from "astrowind:config"

// Components
import BlogList from '~/components/blog/List.astro';
import Layout from '~/layouts/PageLayout.astro';
import Pagination from '~/components/blog/Pagination.astro';
import YourHost from '~/components/tlo/YourHost.astro';

// Utilities
import { findLatestPosts } from "~/utils/blog"
import { getMorePosts } from "~/utils/tlo"

// Get latest posts
const count = APP_BLOG.postsPerPage
const posts = await findLatestPosts({ count })

// Link to Archives
const linkUrl = getMorePosts()
const linkText = "further reading"

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">

    <YourHost />

    <!-- Latest Posts -->
    <BlogList posts={posts} />

    <!-- Link to Archives -->
    <Pagination nextText={linkText} nextUrl={linkUrl} />

  </section>
</Layout>
