---

// Config
import { APP_BLOG } from "astrowind:config"

// Components
import BlogList from '~/components/blog/List.astro';
import Layout from '~/layouts/PageLayout.astro';
import Pagination from '~/components/blog/Pagination.astro';

// TLO Components
import NextAirdate from '~/components/tlo/NextAirdate.astro';
import YourHost from "~/components/tlo/YourHost.astro";

// Utilities
import { findLatestPosts } from "~/utils/blog"
import { getMorePosts } from "~/utils/tlo"

// Get latest posts
const count = APP_BLOG.postsPerPage
const posts = await findLatestPosts({ count })

// Link to Archives
const linkUrl = getMorePosts()
const linkText = "further reading"

const metadata = {
  title: 'The Lacking Organization',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">

    <div class="flex flex-row gap-12 mb-12 md:mb-20">
      <NextAirdate class="basis-2/3" />
      <YourHost class="basis-1/3" />
    </div>

    <!-- Latest Posts -->
    <BlogList posts={posts} />

    <!-- Link to Archives -->
    <Pagination nextText={linkText} nextUrl={linkUrl} />

  </section>
</Layout>
