---
// -----------
// Mixcloud ==
// -----------

const { post } = Astro.props
---

<div class="my-6">
	<iframe
		id="mixcloud-iframe"
		width="100%"
		style="margin-bottom: 1em;"
		height="120"
		src=""
		data-src={post.mixcloud}
		></iframe>
</div>
