---
import { schedule } from '~/utils/tlo.ts';
import CallToAction from '~/components/widgets/CallToAction.astro';

const scheduleJSON = JSON.stringify(schedule);
---

<CallToAction

  actions={[
    {
      variant: 'primary',
      text: 'ON THE AIR<br>LISTEN NOW',
      href: 'https://github.com/onwidget/astrowind',
      target: '_blank',
    },
    {
      variant: 'secondary',
      text: 'Schedule + More',
      href: '/radio-activity',
    },
  ]}
>


<Fragment slot="title">
  Next Airdate
</Fragment>

<Fragment slot="subtitle">
  <div id="schedule" data-schedule={scheduleJSON}></div>
</Fragment>
</CallToAction>

<script is:inline>
  const now = new Date()
  // Get schedule
  const scheduleJSON = document.getElementById('schedule').dataset.schedule;
  const schedule = JSON.parse(scheduleJSON);
  // Find next airdate
  next_airdate = schedule.find((item) => {
    return (new Date(item.end_time) >= now)
  });
  console.dir(next_airdate);
  // Convert to string and add to page
  const next_string = new Date(next_airdate.start_time).toLocaleString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    hour: 'numeric',
    minute: 'numeric',
    second: 'numeric',
  });
  document.querySelector('[id="schedule"]').textContent = next_string;
  // Turn on corresponding button
  const on_air = now >= new Date(next_airdate.start_time) && now <= new Date(next_airdate.end_time);
  console.log('dates', new Date(), new Date(next_airdate.start_time));
  if (on_air) {
    document.querySelector('.btn-primary').classList.add('animate-pulse');
    document.querySelector('.btn-secondary').classList.add('hidden');
  } else {
    document.querySelector('.btn-primary').classList.add('hidden');
  }
// locations = {
//   'mixcloud' => { url: 'https://www.mixcloud.com/live/the-lacking-org/', stream: 'https://www.mixcloud.com/live/the-lacking-org/'},
//   'kafm' => { url: 'https://www.kafmradio.org', stream: 'http://www.radiorethink.com/tuner/?stationCode=KAFM&amp;stream=lo'},
//   'ltw' => { url: 'https://louderthanwar.com/louder-than-war-radio/', stream: 'https://s2.radio.co/sab795a38d/listen'}
// }

// <p id="stream-link">
// {% if next_airdate['location'] == 'kafm' %}
//   <a class="button" href="" onclick="window.open(this.href, '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=yes,dependent=no,width=350,left=1,height=800,top=1'); return false;">Listen now!</a>
// {% elsif next_airdate['location'] == 'ltw' %}
//   <a class="button" href="https://s2.radio.co/sab795a38d/listen" onclick="window.open(this.href, '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=yes,dependent=no,width=350,left=1,height=350,top=1'); return false;">Listen now!</a>
// {% else %}
//   <a class="button" href="" target="_blank">Listen now!</a>
</script>

