---
// ----------
// Spotify ==
// ----------

const { post } = Astro.props

const spotifySrc = `https://open.spotify.com/embed/album/${post.spotify}?utm_source=generator`
---
<div class="my-6">
	<iframe
		src={spotifySrc}
		width="100%"
		height="500"
		allowfullscreen=""
		allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
		loading="lazy"
		class="max-w-full lg:max-w-[900px] mx-auto sm:rounded-md"
		></iframe>
</div>
