---
import type { ImageMetadata } from 'astro';
import { twMerge } from 'tailwind-merge';
import { Image } from "astro:assets";
import { findImage } from '~/utils/images';

const {
  class: className = '',
} = Astro.props;

const yourHost = await findImage('~/assets/images/jclacking.png') as ImageMetadata
---

<div
  id="your-host"
  class={twMerge("w-full text-center items-center p-6 rounded-md shadow-xl dark:shadow-none dark:border dark:border-slate-600", className)}
>

  <!-- Photo -->
  <Image
    src={yourHost}
    alt="Julius C. Lacking"
    class="rounded-full w-32 h-32 mx-auto mb-4"
  />

  <!-- Your Host -->
  <p class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase">Your Host</p>

  <!-- Julius C. Lacking -->
  <h2 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-2xl my-2">Julius C. Lacking</h2>

</div>
