---
import type { ImageMetadata } from 'astro';
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';
import { findImage } from '~/utils/images';
const reel = await findImage('~/assets/images/reel.png') as ImageMetadata
---

<span
  class="flex self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <!-- Tape Reel -->
  <Image
    width={20}
    aspectRatio={1}
    src={reel}
    alt={SITE?.name}
    class="mt-1 mr-2"
  />

  <!-- Site Name -->
  {SITE?.name}
</span>
